[Unit]
Description=MMDVM Last Heard Monitoring Service
Wants=network-online.target
After=network-online.target mmdvmhost.service

[Service]
Type=simple
User=root
WorkingDirectory=/opt/MMDVM-LastHeard
ExecStartPre=/bin/sleep 15
ExecStart=/bin/bash /opt/MMDVM-LastHeard/main.sh
ExecReload=/bin/kill -HUP $MAINPID
KillSignal=SIGINT
RestartKillSignal=SIGINT
KillMode=control-group
Restart=always
RestartSec=10
StandardOutput=inherit
StandardError=inherit

[Install]
WantedBy=multi-user.target